<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat app</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="demo.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="loginForm">
            <h3>WHAT'S UR NAME?</h3>
            <input type="text" id="txtUsername">
            <input type="button" value="Register" id="btnRegister">
        </div>
        <div id="chatForm">
            <div id="left">
                <div id="boxTitle">Users Online</div>
                <div id="boxContent">
                    <div class="userOnline"></div>
                </div>
            </div>
            <div id="right">
                <div id="sayHi">
                    Hello <span id="currentUser">Abc</span>
                    <input type="button" id="btnLogout" value="Logout">
                </div>
            </div>
        </div>
    </div>
</body>
</html>